@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100i');

body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background: white;
    height: auto;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    /* text-transform: uppercase; */
    font-style: inherit;
    margin: 0;
}

#headerWrapper {
    font-family: 'Dancing Script', cursive;
    line-height: 1.5em;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

#pageWrapper {
    font-family: 'Roboto Mono', monospace;
    line-height: 2em;
    letter-spacing: 0.8px;
    font-weight: 300;
    font-style: normal;
    padding: 1em;
}

#footerWrapper {
    text-align: center;
}

#footer {
    justify-content: center;
    display: flex;
}

div.galeri {
    border: 1px solid #ccc;
}

div.galeri:hover {
    border: 1px solid #777;
}

div.galeri img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.esnek {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}