@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100i');

body {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    /* grid-template-rows: 90% 10%; */
    /* height: 100vh; */
}

.boxes {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-columns: 30% 70%;
   background: white;
   width: auto;
}

.boxes > img {
    display: grid;
    object-fit: cover;
    border-radius: 50%;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    margin: auto;
    min-height: 40vh;
    width: 30vh;
}

.boxes > .bio {
    display: grid;
    font-family: 'Dancing Script', cursive;   
    line-height: 2em;
    letter-spacing: 0.8px;
    font-weight: 300;
    font-style: normal;
    padding: 1em;
    font-size: 2vh;
}

.footer {
    grid-area: 'footer';
    text-align: center;
    justify-items: center;
    font-family: 'Dancing Script', cursive;
    text-transform: lowercase;
    padding: 10px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    color: black;
    display: grid;
}

@media(max-width: 768px) {
    body {
        width: 100vw;
    }
    
    .boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: 40% 60%;
        background: white;
     }
     .boxes > img {
        display: grid;
        object-fit: cover;
        border-radius: 50%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
        height: 30vh;
    }

    .boxes > .bio {
        display: grid;
    }
}